= form_with(model: @item, local: true,method: :PATCH ) do |f|
  .edit
    .edit_header
      .edit_header_name
        =link_to "NETASTOCKS",root_path,class:'neta'
    .edit_main
      .edit_main_title
        在庫編集
      .edit_main_box
        .edit_main_box_text
          .box
            .box_box
              = link_to '削除', "/items/#{@item.id}", method: :delete,class: "destroy"
          .form_text
            .field
              %label 材料名
              = f.text_field :name,class: 'text'
            .field
              %label 容量
              = f.number_field :capacity,class: 'text'
            .field
              %label 単位
              = f.select :until,[ ["g","g"], ["kg", "kg"],["t","t"], ["個", "個"],["パック","パック"], ["枚", "枚"]], prompt: "---"
            .field
              %label 個数
              = f.text_field :quantity,class: 'text'
            .field
              %label 場所
              = f.select :place,[ ["プレハブ","プレハブ"], ["リーチイン", "リーチイン"], ["１番冷蔵庫", "１番冷蔵庫"], ["２番冷蔵庫", "２番冷蔵庫"], ["３番冷蔵庫", "３番冷蔵庫"], ["１番冷凍庫", "１番冷凍庫"], ["２番冷凍庫", "２番冷凍庫"] , ["切りネタ冷凍庫", "切りネタ冷凍庫"], ["ハマチ倉庫", "ハマチ倉庫"], ["ネタ切り冷蔵庫", "ネタ切り冷蔵庫"]], prompt: "---"
            .field
              %label 納品日
              = f.text_field :deliverydate,class: 'text'
            .form_text_btn
              = f.submit '変更する',class: :form__btn


