.top
  .top_header
    .top_header_name
      NETASTOCKS
    .top_header_search
      = form_tag(search_items_path,method: :get,class:"a") do
        = text_field_tag :search, "",placeholder:"何かお探しですか？",class: "tag"
        = submit_tag '検索', :name => nil,class: "kensaku"
  .top_main
    .top_main_text
      ネタ在庫一覧
                    
    .top_main_btn
      =link_to "追加",new_item_path
    .top_main_stock
      .top_main_stock_box
        .top_main_stock_box_type
          .type_name
            ネタ名
          .type_capacity
            内容量
          .type_unit
            単位
          .type_quantity
            個数
          .type_place
            場所
          .type_delivery
            納品日
          .type_edit
            編集
        - @items.each do |item|
          .top_main_stock_box_item
            .item_name
              = item.name
            .item_capacity
              = item.capacity
            .item_unit
              = item.until
            .item_quantity
              = item.quantity
            .item_place
              = item.place
            .item_delivery
              = item.deliverydate
            .item_edit
              =link_to "編集","/items/#{item.id}/edit", method: :get
        = paginate @items

